version: "3.9"

services:
  backend:
    build:
      context: ./src/backend
      dockerfile: Dockerfile  
      additional_contexts:
        ocelescope: ./src/ocelescope
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
      - plugins_store:/plugins
    environment:
      - DATA_DIR=/app/data
      - PLUGIN_DIR=/plugins 
    restart: unless-stopped

  frontend:
    build:
      context: ./src/frontend
      dockerfile: Dockerfile  
      args:
        - NODE_ENV=production
    ports:
      - "3000:3000"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
volumes:
  plugins_store:
