site_name: Ocelescope
site_url: https://rwth-pads.github.io/ocelescope
repo_url: https://github.com/rwth-pads/ocelescope
repo_name: Ocelescope

theme:
  name: material
  icon:
    logo: material/telescope
    repo: fontawesome/brands/github
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.footer
    - navigation.indexes
    - toc.integrate
    - content.code.copy
    - content.code.annotate
    - content.action.edit
    - content.tabs.link
    - header.autohide
    - search.suggest
    - search.highlight
    - announce.dismiss
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

plugins:
  - search
  - awesome-nav
  - autorefs
  - git-revision-date-localized:
      fallback_to_build_date: true
  - minify:
      minify_html: true
  - mkdocstrings:
      handlers:
        python:
          paths:
            - "src/ocelescope"
          options:
            docstring_style: google
            show_root_heading: false
            parameter_headings: false
            show_if_no_docstring: false
            show_source: true
            separate_signature: true
            show_root_toc_entry: false
            show_symbol_type_toc: true
            type_parameter_headings: true
            show_symbol_type_heading: true
            backlinks: "flat"
            members_order: [__all__, source]
            show_bases: true
markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/rwth-pads
