.variant {
  list-style: none;
  display: flex;

  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  padding: 0;
  margin: 0;

  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;

  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.item {
  --base: var(--c, #3498db);
  --bg: var(--base);

  flex: 0 0 auto;
  float: none;
  margin-right: 0;

  width: 50px;
  height: 40px;
  line-height: 40px;
  text-align: center;

  color: #fff;
  background: var(--bg);
  position: relative;
  margin-right: 23px;
  padding-right: 5px;
  cursor: default;

  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.item span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item::before,
.item::after {
  content: "";
  position: absolute;
  top: 0;
  border-style: solid;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}

.item::before {
  left: -20px;
  border-color: var(--bg);
  border-left-color: transparent;
}

.item::after {
  left: 100%;
  border-color: transparent;
  border-left-color: var(--bg);
}

.item:first-child {
  border-radius: 4px 0 0 4px;
  padding-left: 10px;
}

.item:first-child::before {
  border: none;
}

.item:last-child {
  border-radius: 0 4px 4px 0;
  padding-right: 10px;
}

.item:last-child::after {
  border: none;
}

.item:hover {
  --bg: color-mix(in srgb, var(--base) 85%, black);
  width: unset;
}
