name: Deploy Mkdocs to Pages

on:
  push:
    branches: ["main"]
    paths: ["docs/**"]

  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install mkdocs-material mkdocs-awesome-nav mkdocs-git-revision-date-localized-plugin \
                      mkdocs-minify-plugin mkdocstrings-python mkdocs-autorefs

      - name: Build and Deploy
        env:
          PYTHONPATH: src/ocelescope/src
        run: |
          mkdocs gh-deploy --force
