name: release

on:
  release:
    types: [published]

env:
  VERSION: "${{ github.ref_name }}"
  REPO: "ghcr.io/${{ github.repository }}"

jobs:
  bake:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/bake-action@v6
        with:
          source: .
          files: ./docker-bake.hcl
          push: true
