name: release

on:
  release:
    types: [published]

jobs:
  bake:
    runs-on: ubuntu-latest
    steps:
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/bake-action@v6
        with:
          files: ./docker-bake.hcl
          push: true
          set: |
            *.VERSION=${{ github.ref_name }}
            *.REPO=ghcr.io/${{ github.repository }}
